body {
    margin: 20px;
    font-family: Courier New, Courier, monospace;
    font-style: italic;
    text-shadow: 0 0 4px black;
}

h3:hover, h4:hover, p:hover {
    background: #2BA84A;
}

.avatar {
    width: 150px;
    border-radius: 80px;
    border: 2px solid #2ba84a;
}

.card {
    width: 380px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #2D3A3A;
    color: #fcfffc;
    border-bottom: 6px groove #248232;
    border-top: 6px ridge #248232;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #040F0F;

    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
/*
Stretch goals:
Find other ways you can personalize
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/
